@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<style type="text/css">
    .chartbox {
        width: 100%;
        height: 500px;
        border: 1px solid #c0c0c0;
    }

    .dhx_chart_legend_item.hidden {
        display: block !important;
        visibility: inherit !important;
    }

    .dhx_axis_title_y {
        top: 0px !important;
        -webkit-transform: rotate(0deg) !important;
        -moz-transform: rotate(0deg) !important;
        -ms-transform: rotate(0deg) !important;
        -o-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important;
        left: 10px !important;
    }
</style>
<div class="col-sm-12">
    <section class="content-header">
        <ol class="breadcrumb"></ol>
    </section>
</div>

<div id="filter" class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <label>Tìm kiếm</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="filterDate" data-date-format="DD/MM/YYYY" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-success" id="btnToday" value="Hôm Nay" />
            </div>
        </div>
    </div>
</div>
<div id="contentchart">
</div>

@section scripts {
    <!-- dhtmlx chart -->
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/mainlayout/dhtmlx/dhtmlx.css" rel="stylesheet" />
    <link href="~/mainlayout/dhtmlx/fonts/font_roboto/roboto.css" rel="stylesheet" />
    <script src="~/mainlayout/dhtmlx/dhtmlx.js"></script>
    <script src="~/Scripts/View/Chart.js"></script>
}
